.bg-orenge{
background-color: orange;
}
.bg-very-unhealthy{
    background-color: rgb(218, 42, 159);
    }
    .bg-orenge{
        background-color: orange;
        }
        .bg-hazardous{
            background-color: rgb(211, 21, 69);
            }